<form name="reviewForm">
    <fieldset>
        <legend>Write a review</legend>
        <label>Rating:</label>
        <select name="stars">
            <option value="1">*</option>
            <option value="2">**</option>
            <option value="3">***</option>
            <option value="4">****</option>
            <option value="5">*****</option>
        </select>
        <br />
        
        <label>Comment:</label><br />
        <textarea name="comment"></textarea>
        <br />
        
        <label>Email:</label>
        <input type="email" name="author" />
        <br />        
        
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </fieldset>
</form>