body, input, button, label, textarea, select, option {
    font-size: 24px;
    font-family: arial;
}

.discontinued {
    color:red;
}
.error-msg {
    color:red;
}
.ng-invalid.ng-dirty {
    border-color: red;
}
.ng-valid.ng-dirty {
    border-color: #78FA89;
}
.has-error {
    border-color: red;
    background-color: #FA787E;
}

.productList a:link,
.productList a:visited {
    color:#fff;
    text-decoration:none;
}
.productList a:hover {
    color:#fff;
    text-decoration:underline;
}

.ng-enter { 
    animation: scaleUp 0.5s both ease-in; 
    z-index: 8888; 
}
.ng-leave { 
    animation: rotateOutNewspaper 0.5s both ease-in; 
    z-index: 9999; 
}

.productList.ng-enter { 
    animation: slideInRight 0.5s both ease-in; 
    z-index: 8888; 
}
.productList.ng-leave { 
    animation: rotateFall 0.5s both ease-in; 
    z-index: 9999; 
}